{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "mongo": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "templateStrings": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "React": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 1,
    "no-undef": 2,
    "quotes": [1, "single"],
    "eol-last": 1,
    "space-before-blocks": [1, "always"],
    "semi": [1, "always"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "curly": 1,
    "comma-dangle": ["error", "never"],
    "arrow-parens": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}